.cover__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    z-index: 2;
    text-decoration: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover__link {
        min-height: 640px;
    }
 }



@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
 }