.place {
    display: grid;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 48px;
    }
 }

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px 48px;
    }
 }

@media screen and (min-width: 768px) and (max-width: 1023px){
    .place {
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 48px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
 }